<br>
<div *ngIf="raceService.activePilot.name">
    <br> Try number <b>{{raceService.activePilot.lastRaceIndex}}</b> for pilot : <b>{{raceService.activePilot.name}}</b>
</div>
<br>
<br>

<button class="button" (click)="removeLastRaceEvent();">
    UNDO
</button>

<br>
<br>

<span *ngFor='let raceEvent of raceEventService.raceEventTypes; '>

    <button class="button" (click)="addRaceEvent(raceEvent.id, raceEvent.points, raceEvent.name);">
        {{raceEvent.name}} ({{raceEvent.points}})
    </button>

</span>

<div>{{raceService.missPoints}}</div>
<div *ngFor='let raceEvent of raceService.raceEventTypes'> {{raceEvent.name}} : {{raceEvent.points}}</div>