<div class="card mt-5 mb-3" *ngIf="raceFinished">
    <div class="card-body">
        <a class='btn btn-secondary mt-4 mb-4 float-right' routerLink="/tournament/{{tournamentService.activeTournament.id}}">Back to tournament</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <div *ngIf="raceService.activePilot" class='text-center'>

                <div class='pt-3'>
                    Race
                    <b>{{raceService.activePilot.lastRaceIndex}}</b>,
                    <b>{{raceService.activePilot.name}}</b>
                </div>

                <div class='pt-1 mt-2'>

                    <button *ngIf="!raceStarted" class="btn btn-success" (click)="startRace();">
                        Start Race
                    </button>

                    <button *ngIf="raceStarted && !raceFinished" class="btn btn-success" (click)="finishRace();">
                        Finish Race
                    </button>
                </div>
            </div>
        </h5>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body text-center">
        <div style='width:40%;' class='badge badge-warning p-auto mr-3 h-100 justify-content-center'>
            <h3 class="mt-1">
                {{raceService.points}}
            </h3>
        </div>
        <div style='width:40%;' class='badge badge-secondary p-auto ml-3'>
            <h3 class="mt-1">
                {{raceService.raceDuration}}
            </h3>
        </div>
    </div>
</div>

<div class="card mt-2" *ngIf="raceStarted && !raceFinished">
    <div class="card-body">
        <div class='mt-1 text-center'>
            <div *ngFor='let raceEvent of raceEventService.raceEventTypes; '>
                <button *ngIf="!raceEvent.automatic" class="btn btn-primary m-2" style='width:160px !important;' (click)="addRaceEvent(raceEvent.id, raceEvent.points, raceEvent.name);">
                    {{raceEvent.name}} ({{raceEvent.points}})
                </button>
            </div>

            <button class="btn btn-light mt-3" style='width:160px !important;' (click)="removeLastRaceEvent();">
                Undo last event
            </button>
        </div>

    </div>
</div>


<div class="card mt-5" *ngIf="raceStarted">
    <div class="card-body">
        <h5 class="card-title">
            Race Events
        </h5>

        <table class="table">
            <tbody>
                <tr *ngFor='let raceEvent of raceService.raceEvents'>
                    <td>
                        {{raceEvent.seconds}}
                    </td>
                    <td>
                        {{raceEvent.name}}
                    </td>
                    <td>
                        {{raceEvent.points}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-5" *ngIf="raceFinished">
    <div class="card-body">
        <a class='btn btn-secondary mt-4 mb-4 float-right' routerLink="/tournament/{{tournamentService.activeTournament.id}}">Back to tournament</a>
    </div>
</div>

<button *ngIf="raceStarted && raceFinished" mwlConfirmationPopover class="btn btn-link" [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
    placement="top" (confirm)="deleteRace()">
    Delete this race
</button>