<div *ngIf="newTournamentCreated === 0">
  <br>

  <br> New tournament name :
  <input id="tournamentName" [(ngModel)]="tournamentName" placeholder="name" />
  <br><br>

  <button (click)="saveNewTournament()">Create New Tournament</button>

  <br>
  <br>
</div>

<div *ngIf="newTournamentCreated === 1">

  <br>
  <br> Pilots for <b>
    {{tournamentService.activeTournament.name}}
  </b>
  <div *ngIf="showAddPilots">
    <br>
    <br>
    <input (keydown)="keydownOnPilotText($event)" id="pilotName" [(ngModel)]="pilotName" placeholder="name" />
    <button (click)="addNewPilot()">Add Pilot</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="setShowAddPilots(false)">Done Adding Pilots</button>
    <br>
    <br>
  </div>
  <br>
  <br>


  <div *ngFor='let pilot of pilots'> {{pilot}}</div>

  <div *ngIf="!showAddPilots">
    <br><br><br><br>
    <button (click)="setShowAddPilots(true)">Add More Pilots</button>
  </div>

</div>