<button class="button" (click)="removeLastMistake();">
    UNDO
</button>

<br>
<br>
<br>
<br>

<button class="button" (click)="addMistake(1, 'revers');">
    Revers (+1)
</button>
<button class="button" (click)="addMistake(5, 'rollover');">
    Rollover (+5)
</button>
<button class="button" (click)="addMistake(5, 'gate');">
    Gate (+5)
</button>
<button class="button" (click)="addMistake(5, 'touch');">
    Vehicle Touch (+5)
</button>
<button class="button" (click)="addMistake(10, 'repositioning');">
    Repositioning (+10)
</button>

<div>{{raceService.missPoints}}</div>
<div *ngFor='let mistake of raceService.mistakes'> {{mistake.type}} </div>