<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Active Tournaments</h5>
    <div *ngFor='let tournament of inProgressTournaments'>
      <a routerLink="/tournament/{{tournament.id}}">
        {{tournament.name}}
      </a>
    </div>
    <button class='btn btn-primary mt-4' routerLink="/new-tournament">
      New Tournament
  </button>
  </div>
</div>

<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">Finished Tournaments</h5>
    <div *ngFor='let tournament of closedTournaments'>
      <a routerLink="/tournament/{{tournament.id}}">
          {{tournament.name}}
      </a>
    </div>
  </div>
</div>