<div class="container" *ngIf="!pilotTournamentResult">
  <h2 class="card-title mt-4 mb-4" *ngIf="pilot">
    No races yet for
    <b>{{pilot.name}}</b>

  </h2>
  <div>
    <a *ngIf="tournamentService.activeTournament" class='btn btn-secondary mt-4 mb-4' routerLink="/tournament/{{tournamentService.activeTournament.id}}">Back to tournament</a>
  </div>
</div>

<div class="container" *ngIf="pilotTournamentResult">

  <div class='clearfix'>
    <a *ngIf="tournamentService.activeTournament" class='btn btn-secondary mt-4 mb-4 float-right' routerLink="/tournament/{{tournamentService.activeTournament.id}}">Back to tournament</a>
  </div>

  <h2 class="card-title mt-2 mb-4" *ngIf="pilot">
    Results for
    <b>{{pilot.name}}</b>
  </h2>

  <div class="card mb-4">
    <div class="card-body">
      <div class='clearfix'>
        <h4>
          <div class='float-left'>
            Best : race {{pilotTournamentResult.bestRaceIndex}}
          </div>
          <div class='float-right'>
            Best total points : {{pilotTournamentResult.bestRacePoints}}
          </div>
        </h4>
      </div>
    </div>
  </div>

  <div class='mt-3'>

    <div class="card mt-4" *ngFor='let raceResult of pilotTournamentResult.raceTotals'>
      <div [class.green]="raceResult.finished==='0'" class="card-body">
        <h5 class='mb-4 card-title'>
          <div class='clearfix'>
            <div class='float-left'>
              Race {{raceResult.index}}
              <span *ngIf='raceResult.finished === "0" '>
                (still in progress)
                <button (click)="loadData()" class='mt-3 btn btn-secondary mb-3'>
                  refresh
                </button>
              </span>
            </div>
            <div class='float-right'>
              <span class='mr-5'>
                Time: {{raceResult.duration}} sec
              </span>
              <span>
                Points : {{raceResult.points}}
              </span>
            </div>
          </div>
        </h5>

        <table class="table">
          <thead>
            <th>
              second
            </th>
            <th>
              event
            </th>
            <th>
              points
            </th>
          </thead>
          <tbody>
            <tr *ngFor='let event of filterEvents(raceResult.index)'>
              <td>
                {{event.seconds}}
              </td>
              <td>
                {{event.name}}
              </td>
              <td>
                {{event.points}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <a *ngIf="tournamentService.activeTournament" class='btn btn-secondary mt-4 mb-4 float-right' routerLink="/tournament/{{tournamentService.activeTournament.id}}">Back to tournament</a>
</div>