<div class="card mt-5" *ngIf="tournamentService.activeTournament">
  <div class="card-body clearfix">

    <div *ngIf="tournamentService.isAdmin() && (!tournamentService.activeTournament.finished)" class=''>



      <button class="btn btn-secondary float-right" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
        placement="bottom" (confirm)="endTournament()" (cancel)="cancelClicked = true">
        End Tournament
      </button>



    </div>


    <table class="table mt-5">
      <thead>
        <tr>
          <th>Name</th>
          <th>Races</th>
          <th>Best<br>Points</th>
          <th>Best<br>Time</th>
          <th *ngIf="!tournamentService.activeTournament.finished"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let pilot of pilots;let i=index;'>
          <td>
            <span *ngIf="tournamentService.activeTournament.finished">
              <span *ngIf="i === 0">
                <img src="assets/img/gold.jpg" class='mr-4'>
              </span>
              <span *ngIf="i === 1">
                  <img src="assets/img/silver.jpg" class='mr-4'>
              </span>
              <span *ngIf="i === 2">
                  <img src="assets/img/bronze.jpg" class='mr-4'>
              </span>
            </span>
            <a class='btn btn-link' routerLink="/pilot/{{pilot.id}}">
              {{pilot.name}}
            </a>
          </td>
          <td>
            {{pilot.lastRaceIndex}}
          </td>
          <td>
            {{pilot.bestScore}}
          </td>
          <td>
            {{pilot.bestDuration}}
          </td>


          <td *ngIf="tournamentService.isAdmin() && (!tournamentService.activeTournament.finished)">
            <button class='btn btn-light' (click)="raceService.viewStartRaceForPilot(pilot.id)">Race</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="tournamentService.isAdmin() && (!tournamentService.activeTournament.finished)">
    <a class='mt-4 btn btn-link align-left' routerLink='/new-tournament'>Add More Pilots</a>
  </div>




</div>